
<%- include("../partials/header") %>
   <main>

      <section class="py-5 text-center container">

         <img src="./images/eveningbanner.jpg" class="img-fluid" alt="...">
         <div class="p-4"></div>
         
         <div class="row no-gutters">
          <h2 >

            <%if(nightround1.length>0){%>
               Common Number For<br />
               <%=nightround1[0].Date%>
            <%}%>
            
          </h2>
            <table class="table table-bordered border border-dark">
               <%if(currentUser){%>
                  <%if(currentUser.role.includes('admin')){%>
                     <a href="/commonnumbernightround1/addnightround1" type="button" class="btn btn-sm mb-3  btn-dark">Add for Round 1</a>
                     <%}%>
                        <%}%>
             <h5 >Meghalaya Sunday Teer - Evening Round 1</h5>
               <tbody>
                  <thead style="background-color: #99e4af;">

                     <th>Direct</th>
                     <th>House</th>
                     <th>Ending</th>
                     <%if(currentUser){%>
                        <%if(currentUser.role.includes('admin')){%>
                     <th>Action</th>
                    
                  <%}%>
                     <%}%>

                  </thead>
                  <%nightround1.forEach((data)=>{%>

                     <tr>

                        <td>
                           <%=data.Direct%>
                        </td>
                        <td>
                           <%=data.House%>
                        </td>
                        <td>
                           <%=data.Ending%>
                        </td>
                     <%if(currentUser){%>
                        <%if(currentUser.role.includes('admin')){%>
                        <td>
                        <form action="/commonnumbernightround1/<%=data._id %>/delete?_method=DELETE" method="POST">
                           <button class="btn btn-sm  btn-dark text-center bg-white text-dark mb-3" class="">Delete</button>
                        </form>
                        </td>
<%}%>
   <%}%>

                     </tr>
                     <%})%>
               </tbody>
            </table>
         </div>
         <%if(currentUser){%>
            <%if(currentUser.role.includes('admin')){%>
         <a href="/commonnumbernightround2/addnightround2" type="button" class="btn btn-sm mb-3  btn-dark">Add for Round 2</a>
         <%}%>
            <%}%>
         <div class="row no-gutters">
         
            <table class="table table-bordered border border-dark">
         <h5 >Meghalaya Sunday Teer - Evening Round 2</h5>
               <tbody>
                  <thead style="background-color: #99e4af;">
         
                     <th>Direct</th>
                     <th>House</th>
                     <th>Ending</th>
                     <%if(currentUser){%>
                        <%if(currentUser.role.includes('admin')){%>
                     <th>Action</th>
         
         <%}%>
            <%}%>
         
                  </thead>
                  <%nightround2.forEach((data)=>{%>
         
                     <tr>
         
                        <td>
                           <%=data.Direct%>
                        </td>
                        <td>
                           <%=data.House%>
                        </td>
                        <td>
                           <%=data.Ending%>
                        </td>
                     <%if(currentUser){%>
                        <%if(currentUser.role.includes('admin')){%>
                        <td>
                           <form action="/commonnumbernightround2/<%=data._id %>/delete?_method=DELETE" method="POST">
                              <button class="btn btn-sm  btn-dark text-center bg-white text-dark mb-3" class="">Delete</button>
                           </form>
                        </td>
                     <%}%>
                        <%}%>
         
                     </tr>
                     <%})%>
               </tbody>
            </table>
         </div>
         </div>

         </div>
         </div>

         </div>
      </section>


   </main>
   <%- include("../partials/footer") %>
