<%- include("../partials/header") %>
<main>

    <section class="py-5 text-center container">

        <img src="./images/reputedbanner.jpg" class="img-fluid" alt="...">
        <div class="p-4"></div>
        <%if(currentUser){%>
            <%if(currentUser.role.includes('admin')){%>
        <a href="/reputedcounter/addreputedcounter" type="button" class="btn btn-sm mb-3  btn-dark">Add ReputedCounter</a>
        <%}%>
            <%}%>
        <div class="row no-gutters">
<h5 class="bg-dark text-white mb-0 p-3">Reputed Counters</h5>
            <table class="table table-bordered border border-dark">

                <tbody>
                    <thead style="background-color: #99e4af;">

                        <th>SL No.</th>
                        <th>License No.</th>
                        <th>Address</th>
                        <%if(currentUser){%>
                            <%if(currentUser.role.includes('admin')){%>
                        <th>Action</th>
                        <%}%>
                            <%}%>
                    </thead>
                    <%reputedcounter.forEach((data)=>{%>
                       
                    <tr>

                        
                        <td><%=data.licenseno%></td>
                        <td><%=data.address%></td>
                        <%if(currentUser){%>
                            <%if(currentUser.role.includes('admin')){%>
                        <td><form action="/reputedcounter/<%=data._id %>/delete?_method=DELETE" method="POST">
                            <button class="btn btn-sm  btn-dark text-center bg-white text-dark mb-3" class="">Delete</button>
                        </form></td>

                    <%}%>
                        <%}%>
                    </tr>
                    <%})%>
                </tbody>
            </table>
            <script>
                var tables = document.getElementsByTagName('table');
                var table = tables[tables.length - 1];
                var rows = table.rows;
                for (var i = 1, td; i < rows.length; i++) {
                    td = document.createElement('td');
                    td.appendChild(document.createTextNode(i + 0));
                    rows[i].insertBefore(td, rows[i].firstChild);
                }
            </script
        </div>
        </div>

        </div>
        </div>

        </div>
    </section>


</main>
    <%- include("../partials/footer") %>